.button{
    padding: 1rem;
    background-color: $red-ish;
    border-radius: 100px;
    border: none;
    color: white;
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}