.footer{
    background-color: #0F0F0F;
    padding: 6rem 3rem 1rem 3rem;
    // position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    &__inp{
        @include respond(phone){
            width: 90% !important;
        }
    }

    // @include respond(tab-land){
    //     margin-top: 30rem;
    //     } 
    //     @include respond(tab-port){
    //         margin-top: 100rem;
    //         } 
    //         @include respond(phone){
    //             margin-top: 30rem;
    //             } 
    // &__newsletter-form{

    // }

    &__firstdiv{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 4rem;
        border-bottom: 3px $red-ish solid;
        @include respond(tab-port){
            flex-direction: column;
        }

        &__1{
            width: 30%;
            @include respond(tab-port){
                width: 100%;
                text-align: center;
                margin-bottom: 2rem;
                & h3, h1{
                    display: block;
                }
            }
        }
        &__2{
            width: 70%;
            @include respond(tab-port){
                width: 100%
            }
        }
    }

    &__seconddiv{
        padding-top: 4rem;
        display: flex;
        border-bottom: 3px $red-ish solid;
        padding-bottom: 4rem;
        @include respond(tab-port){
            flex-direction: column;
        }
        &__1{
            display: flex;
            width: 50%;
            @include respond(tab-port){
               width: 100%;
               display: flex;
               justify-content: space-evenly;
               margin-bottom: 3rem; 
            }
            & ul li{
                margin-bottom: 1rem;
            }
        }
        &__2{
            width: 50%;
            text-align: right;
            padding-right: 3rem;
            @include respond(tab-port){
                margin-top: 10rem;
                width: 100%;
                text-align: center;
             }
            // background-color: whiteb;
        }
    }

    &__inputContainer, 
    &__buttonContainer{
        @include respond(tab-port){
            display: flex;
            justify-content: center;
        }
    }

    &__inputContainer{
        margin-bottom: 3rem;
    }

    &__text{
        padding: 2rem;
        border-radius: 100px;
        border: none;
        width: 70%;
        display: inline-block;
    }

    &__logo{
        width: 10rem;
        margin-right: 2rem;

        @include respond(tab-port){
            width: 20rem;
        }
    }

    &__icon{
        color: white;
        font-size: 2rem;
        margin-right: 10px;
        &__heart{
        color: orange;
        font-size: 2rem;  
        }
    }


    &__social-icon{
        color: white;
        width: 4rem;
        transition: all .3s;
        &:hover{
            transform: scale(1.2);
            cursor: pointer;
        }

        @include respond(tab-port){
            width: 6rem;
        }
        @include respond(phone){
            width: 7rem;
        }
    }
    &__social-list{
        & li{
            display: inline-block;
            &:not(:last-child){
                margin-right: 3rem;
            }
        }
    }
}
