.hero{

    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &__overlay{
        background-color: rgba($deep-blue, 0.1);
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
    }

    &__title{
        margin-left: 3rem;
        @include respond(phone){
            // margin-top: -40rem;
            text-align: center;
        }

        &--container{
            @include respond(phone){
            width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        }
        
        & h1{
            display: inline-block;
            font-size: 7rem;
            background-image: rgba($deep-blue, 0.86);
            overflow: hidden;
            font-weight: 900;
            & span{
                display: inline-block; 
                // transform: translateY(100%);
            }

            &:first-child{
                color: $deep-blue;
                display: block;
            }
            &:nth-child(2){
                color: white;
                background-color: $deep-blue;
                padding: 0.5rem 1rem;
                background-image: white;
            }
        }
    }
}


// .bgDesktop{
//     @include respond(phone){
//         display: none;
//     }
// }
// .bgPhone{
//     display: none;
//     @include respond(phone){
//         display: block;
//     }
// }