.input-text{
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.valid{
    border: green 3px solid !important;
    background-color: green;
    color: white;
}
.invalid{
    border: red 3px solid !important;
    background-color: rgb(128, 0, 0);
    color: white;
}

.input{
    &-textbox{
       width: 100%;
        border-radius: 30px;
        border: none;
        box-shadow: 2px 0px 10px 0px rgba(5, 5, 5, 0.075);
        padding: 1.5rem 2rem;
        transition: all .2s;
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        width: 80%;
        @include respond(tab-land){  
            font-size: 3rem;
          }
        @include respond(phone){  
            font-size: 3rem;
          }
        &:placeholder-shown + label{
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: all .2s;
            font-family: Montserrat;
        }
    }
    &-password{
      
            width: 100%;
             border-radius: 30px;
             border: none;
             box-shadow: 2px 0px 10px 0px rgba(5, 5, 5, 0.075);
             padding: 1.5rem 2rem;
             transition: all .2s;
             font-size: 1.5rem;
             font-family: "Montserrat", sans-serif;
             width: 80%;
             
             @include respond(tab-land){  
                 font-size: 3rem;
               }
             @include respond(phone){  
                 font-size: 3rem;
               }
             &:placeholder-shown + label{
                 opacity: 0;
                 visibility: hidden;
                 transform: translateY(-10px);
                 transition: all .2s;
                 font-family: Montserrat;
             }


        
    }
    &-number{
        width: 80%;
        border: none;
        border-radius: 30px;
        padding: 1.5rem 2rem;
        font-family: Montserrat;
        box-shadow: 2px 0px 10px 0px rgba(5, 5, 5, 0.075);
        @include respond(tab-port){
            font-size: 3rem;
            width:80%;
        }

        &:placeholder-shown + label{
            opacity: 0;
            visibility: hidden;
            transform: translateY(-10px);
            transition: all .2s;
            font-family: Montserrat;
        }
    }
    &-select{
        padding: 1.5rem 2rem;
        border-radius: 30px;
        border: none;
        width: 80%;
        font-family: Montserrat;
    }
    &-textarea{
        // width: 50%;
        height: 10rem;
        font-family: Montserrat;
        border-radius: 20px;
        padding: 1rem;
        border: none;
    }
    &--label{
        font-size: 1.5rem;
        color: white;
        @include respond(tab-port){
            font-size: 3rem; 
                                            //1rem = 8px , 8/16  50%
            } 
        
    }
}

.radio{
    // visibility: hidden;
    opacity: 0;
}

.radio-field{
    display: flex;
    justify-content: center;
}

.radio-field input[type="radio"]{
    opacity: 0;
    width: 0;

}

.radio:checked + label{
    color: white;
    /* background-position: 100%; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.568);
    background-color: $deep-blue;
    transform: scale(0.9);
}

.radioLabel-active{
    color: white;
    /* background-position: 100%; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.568);
    background-color: $deep-blue;
    transform: scale(0.9);
}

.radio-label:focus {
    border: 2px solid rgb(255, 255, 255);
}

.radio-label{
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    color: #000000;
    /* background-image: linear-gradient(120deg,#15003500 50%, #4204a0 80%, #150035 100%); */
    -webkit-box-shadow: 9px 7px 26px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 7px 26px -11px rgba(0,0,0,0.75);
    box-shadow: 9px 7px 26px -11px rgba(0,0,0,0.75);

    padding: 12px 25px;
    // border-radius: 30px;
    transition: all 0.5s;
    /* background-size: 250%; */
    backface-visibility: hidden;

}

.radio-label:hover{
    -webkit-box-shadow: 16px 21px 41px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 21px 41px -11px rgba(0,0,0,0.75);
    box-shadow: 16px 21px 41px -11px rgba(0,0,0,0.75);
    transform: scale(1.1);
    color: $deep-blue;
}




