.loading{
    width: 30rem;
    

    &__container{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top:0;
        left:0;
        background-color: $deep-blue;
        z-index: 10000;
    }
}

.loadingSmall{
    width: 10rem;
    
    &__container{
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        // background-color: $deep-blue;
    }
}

