.nav{
    background-color: white;
    display: flex;
    padding: 1rem;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left:0;
    width: 100vw;
    z-index: 300;

    &__logo{
        width: 6rem;
        margin-left: 2rem;
    }

    &__link{
        font-size: 1.6rem;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        transition: all .6s;
         & a{
             text-decoration: none !important;
             color: unset;
         }
    
        &:not(:last-child){
            margin-right: 3rem;
            color: $deep-blue;
            border-bottom: white 1px solid;
            &:hover{
                color: $red-ish !important;
                border-bottom: $red-ish 3px solid;
            }
        }
        &:last-child{
            color: white;
            background-color: $deep-blue;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            &:hover{
                color: $deep-blue;
            background-color: $red-ish;

            }
        }
    }
}

.logo-container{
    width: 30%;
}

.link-container{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;
}

.sub-menu-1,
.sub-menu-2{
    // display: none;
    position: absolute;
    z-index: 100;
    background-color: white;
    padding: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
     & ul{
         list-style: none;
     }
}


.sub-menu-link:hover{
    & .sub-menu-1{
        display: block;
    }
}

.sub-menu-link-2:hover{
    & .sub-menu-2{
        display: block;
    }
}

.sub-link{
    transition: all .3s;
    color: $deep-blue !important;
    padding: 1rem;
    border-radius: 6px;
    
    &:hover{
     background-color: $red-ish !important;
     color: white !important;
    }
}