.nav,.nav--mobile{
    background-color: white;
    padding: 1rem;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left:0;
    width: 100vw;
    z-index: 300;
    box-shadow: 1px 4px 11px -1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 1px 4px 11px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 1px 4px 11px -1px rgba(0,0,0,0.29);
    &__logo{
        width: 12rem;
        margin-left: 2rem;
        @include respond(tab-port){
            width: 10rem; 
          }
          @include respond(phone){
            width: 20rem;
            margin: 10rem !important; 
          }
    }

    &__link{
        @include respond(tab-port){
            display: block;
            font-size: 3rem; 
            margin-bottom: 2rem;
            text-align: center;
            margin-right: 0 !important;
          }
        font-size: 1.6rem;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        transition: all .6s;
         & a{
             text-decoration: none !important;
             color: unset;
         }
    
        &:not(:last-child){
            margin-right: 3rem;
            color: $deep-blue;
            border-bottom: white 1px solid;
            &:hover{
                color: $red-ish !important;
                border-bottom: $red-ish 3px solid;
            }
        }
        &:last-child{
            color: white;
            background-color: $light-blue;
            padding: 0.5rem 1rem;
            border-radius: 8px;
            &:hover{
                color: $deep-blue;
            background-color: $red-ish;

            }
        }
    }
}


.nav{
    @include respond(tab-port){
        display: none;  
      }
      display: flex; 

      &--mobile{
        @include respond(tab-port){
            display: flex;  
            z-index: 2000;
          }
          display: none;  
      }
}


.logo-container{
    width: 30%;

}

.link-container{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;

    &__mobile{
        @include respond(tab-port){
             width: 100vw;
             height: 100vh;
             position: fixed;
             z-index: 1000;
             background-color: white;
          animation: fadein forwards 0.5s;

          }

          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        //   margin-right: 3rem;
    }
}

.sub-menu-1,
.sub-menu-2{
    // display: none;
    position: absolute;
    z-index: 100;
    background-color: white;
    box-shadow: 1px 4px 11px -1px rgba(0,0,0,0.29);
    -webkit-box-shadow: 1px 4px 11px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 1px 4px 11px -1px rgba(0,0,0,0.29);

    padding: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
     & ul{
         list-style: none;
     }
}


.sub-menu-link:hover{
    & .sub-menu-1{
        display: block;
    }
}

.sub-menu-link-2:hover{
    & .sub-menu-2{
        display: block;
    }
}

.sub-link{
    transition: all .3s;
    color: $deep-blue !important;
    padding: 1rem;
    border-radius: 6px;
    
    &:hover{
     background-color: $red-ish !important;
     color: white !important;
    }
}