.pollSection{
    background-color: white;
    padding: 5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 6px 9px 35px -13px rgba(0,0,0,0.15);
    -webkit-box-shadow: 6px 9px 35px -13px rgba(0,0,0,0.15);
    -moz-box-shadow: 6px 9px 35px -13px rgba(0,0,0,0.15);
    border-radius: 20px;
    &__div{
        position: relative;
        z-index: 1;
    }

    &__span{
        position: absolute;
        color: $deep-blue;
        font-size: 7rem;
        font-weight: bolder;
        opacity: 0.5;
        bottom: -2rem;
        right: 2rem;
        z-index: 0;
    }

    &__label{
        position: relative;
        z-index: 1;     
    }
}