.socials-div{
   position: relative;
   height: 500px;
   box-shadow: 6px 9px 35px -13px rgba(0,0,0,0.15);
   -webkit-box-shadow: 6px 9px 35px -13px rgba(0,0,0,0.15);
   -moz-box-shadow: 6px 9px 35px -13px rgba(0,0,0,0.15);
   border-radius: 20px;
}

.socials-icon{
    width: 9rem;
    opacity: 50%;
    position: absolute;
    z-index: 50;
    top: 3rem;
    left: 3rem;
}

.timeline{
    margin: 0 auto !important;
}