.db{
    &__logo{
        width: 10rem;
        @include center;
        transition: all .3s;
        animation: fadein .5s forwards;
    }
}

.screen{
    padding: 3rem 1rem 0rem 3rem;
    min-height: 100vh;
    animation: fadein .5s forwards;

    &__header{
        font-size: 4rem;
        color: white;
        font-weight: bold;
        display: inline-block;
        z-index: 5;
        position: relative;
    }
}
